# These are the versions of the libraries used within the flights project:

# Program used to write the flights project:
Pycharm 2021.3.2 (Community Edition)

# python interpreter:
python version used: 3.9.10

# Components:
SQLAlchemy 1.4.31
greenlet 1.1.2
pip 21.2.4
psycopg2 2.9.3
setuptools 58.1.0


